/* Header and Navigation */
header {
        background-color: rgba(255,255, 255 ,0.87);
        top: 0;
        box-shadow: 0px 3px 5px #D9D3CB;
        position: fixed;
        width: 100%;
      }
   

#logo{
    height: 55px;
    margin: 21px 50px;
}
#nav{
    width: 450px;
    margin: 23px;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}
li{
    display: inline-block;
    right: 0;
    padding: 15px;
    color: #373938;
}
a{  text-decoration: none;
    color: #373938;

}
body{
    margin: 0px;}
/* Footer */

footer{
    background-color: #D9D3CB;
    padding: auto;
    color: #373938;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;

}
.footerList{
    display: inline-block;
    align-items: center;
}

/* About Me page */
#me{
    width: 520px;
    float: right;
    margin: 50px 100px;
}

.aboutMEcontent{
    width: 550px;
    margin: 150px 100px 0 ;
}
#aboutMe{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #373938;
    letter-spacing: 1px;
    line-height: 26px;
}
h2{
    color: #996C5A;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
}
button{
    background-color: #996C5A;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 15px 32px;
    border: none;
    margin: 40px 0px;
    border-radius: 4px;

}
button:hover{
    background-color: #AD8A7B;
}
#puzzle{
    width: 100px;
    padding:20px 0 30px 0;
}
#paint{
    width: 80px;
    padding:5px 0 20px 3px;
}
#hand{
    width: 58px;
    padding:0 17px;
}
.factsGrid{
    margin: 0px 0px 50px 100px;
    display: grid;
    grid-template-columns: 10% 10% 80%;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "factsHeader factsHeader factsHeader"
    "puzzleImg puzzleImg fact1"
    "paintImg paintImg fact2"
    "handImg handImg fact3"; 
}
.factsHeader{
    grid-area: factsHeader;
    height: 50px;
}
.puzzleImg{
    grid-area: puzzleImg;
}
.fact1{
    grid-area: fact1;
}
.paintImg{
    grid-area: paintImg;
}
.fact2{
    grid-area: fact2;
}
.handImg{
    grid-area: handImg;
}.fact3{
    grid-area: fact3;
}
.facts{
    font-size: 16px;
    color: #373938;
    letter-spacing: 1px;
    line-height: 26px;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0;
}

/*--  My UX Skills section coded using CSS flex -- */

.mySkills{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.skillsflexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skill{
    width: 30%;
    padding: 0 30px;
}
h1{
    font-family: 'Ramaraja', serif;
    font-size: 40px;
    color: #373938;
    letter-spacing: 2.5px;
    font-weight: lighter;
    margin: 20px 0;
}
.skillSub{
    text-align: center;
}
.skillsTitle{
    text-align: center;
}
p{
    font-size: 16px;
    color: #373938;
    letter-spacing: 1px;
    line-height: 26px;
    font-family: 'Raleway', sans-serif;
}

.ux{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.ui{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.coding{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.toolsflexContainer{
    display: flex;
    justify-content: space-evenly;
}
.toolsflexContainer div{
    text-align: center;
}
.tools{
    height: 70px;
}
.resumeButton{
    text-align: center;  
    margin-top: 50px; 
}

/* Home page */
.intro{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.avatar{
    width: 80px;
}
/* My Work Section Constructed using CSS Grid */
.myWork{
    margin-top: 50px;
    margin-left: 100px;
}
.workGrid{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "work1img  work2img "
    "work1 work2";
} 
.work1img{
    grid-area: work1img;
}
.work1{
    grid-area: work1;
}
.work2img{
    grid-area: work2img;

}
.work2{
    grid-area: work2;
}
.habook{
    height: 400px;
    margin-left: 0;
}
.doe{
    height: 400px;
}
.workGrid p{
    text-align: left;
}
.workGrid h2{
    text-align: left;
}

